<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pou_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pou_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PouSaltarin"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Inicio">
            <!-- No se necesita la etiqueta intent-filter para Inicio si no es la actividad principal -->
        </activity>
        <activity android:name=".Reglas"/>
        <activity android:name=".GameActivity"/>
        <activity android:name=".GameOver"/>

    </application>

</manifest>
